
:root {
	--bg-color: #2b2b2b;
	--bg-alt: #2b2b2b;
	--bg-tab: #2b2b2b;
	--hl-color: #3D4C5F;
	--tx-color: #F8F8F2;
	--tx-alt: #537268;
}


/* Bookmarks Sidebar */
#bookmarks-view,
#historyTree,
#history-panel,
#sidebar-header {
background-color: #2b2b2b !important;
color: #ccc!important;
border: 0px !important;
border-right: 0px !important;}
#bookmarks-view {
background-color: #2b2b2b !important;
border: 1px !important;
border-right: 0px !important;}
#bookmarks-view {
searchbar-textbox:
background-color: #2b2b2b !important;
color: #ccc !important;}
#sidebar-header {
-moz-appearance: none !important;
padding-top: 4px !important;
padding-bottom: 0px !important;
background-color: #2b2b2b !important;}
#sidebar-search-container {
background-color: #2b2b2b !important;
padding-left: 0px !important;
padding-right: 0px !important;}
#sidebar-search-container > textbox {
-moz-appearance: none !important;
background-color: #4d4d4d !important;
color: #ffffff !important;
padding-left: 14px !important;
height: 36px !important;}
#bookmarksMenuPopup, #bookmarksMenuPopup menupopup {
-moz-appearance: none !important;
color: #e6e6e6 !important;
background-color: #2b2b2b !important;}
#bookmarksMenuPopup menu, #bookmarksMenuPopup menuitem {
-moz-appearance: none !important;
color: #e6e6e6 !important;
background-color: #2b2b2b !important;}
#bookmarks-menu{
-moz-appearance: none !important;
color: #e6e6e6 !important;
background-color: #2b2b2b !important;}
menupopup {
color: #e6e6e6 !important;
background: #2b2b2b !important;}
:root {
    --arrowpanel-background: #2b2b2b !important;
    --arrowpanel-color: #e6e6e6 !important;
    --panel-background: #2b2b2b !important;}



/*Bookmarks Text Color*/
treechildren::-moz-tree-cell-text(selected),
treechildren::-moz-tree-cell-text(hover),
treechildren::-moz-tree-cell-text(current){
color: #fff !important;
margin-left: 0px !important;}
.sidebar-placesTreechildren::-moz-tree-cell-text(container){
-moz-appearance: none !important;
color: #ccc !important;}


/* Bookmarks sidebar: change hover row color */
treechildren::-moz-tree-row{
background: transparent !important;
height: 20px !important;
border: none !important;
outline: none !important;}
treechildren::-moz-tree-row(hover){
background-color: #1c1c1c !important;}
treechildren::-moz-tree-row(selected){
border: none !important;}
treechildren::-moz-tree-separator{
-moz-appearance: none !important;
border: none !important;
border-bottom: solid 1px rgba(255,255,255,0.4) !important;
background: transparent !important;
min-height: 0px !important;
max-height: 0px !important;}
.sidebar-placesTreechildren::-moz-tree-image(title, container){
list-style-image: none !important;
display: none !important;
padding-right: 0px !important;
margin: 0px 0px !important;
width: 0px !important;}

/* Change Tooltip Appearance */
/*tooltip {
-moz-appearance:none !important;
background-color: #2b2b2b !important;
color: #e6e6e6 !important;
border-color: #a0a0a0 !important;}*/



/*Dark context menu*/
/*menupopup, popup,
popup > menu > menupopup,
menupopup > menu > menupopup {
-moz-appearance: none !important;
border: 1px solid #a0a0a0 !important;
padding: 6px 0px 6px 0px  !important;
color: #e6e6e6 !important;
background: #2b2b2b !important;}
menupopup menuseparator {
-moz-appearance: none !important;
margin: 2px 6px 2px 6px !important;
padding: 0 !important;
border-top: none !important;
border-color: transparent !important;
color: #e6e6e6 !important;
background: #2b2b2b !important;}
menupopup menu, menuitem{
-moz-appearance: none !important;
font-size: 9pt !important;
margin: 3px 0px 3px 0px !important;
color: #e6e6e6 !important;
background: #2b2b2b !important;}
menupopup menu:hover, menuitem:hover {
-moz-appearance: none !important;
color:#fff !important;
font-size: 9pt !important;
margin: 3px 0px 3px 0px !important;
background-color:#414141 !important;}*/

/* Firefox Context Menu */
/*#context-navigation,
#context-sep-navigation,
#context-stop,
#context-back,
#context-forward,
#context-reload,
#context-bookmarkpage {
background: #2b2b2b !important;}
#context-stop image:hover,
#context-back image:hover,
#context-forward image:hover,
#context-reload image:hover,
#context-bookmarkpage image:hover {
color: #00000 !important;}
#context-sep-navigation {
display: none !important;}
*/