
#nav-bar {
  background: transparent !important;
  margin-top: -33px !important;
  margin-right: 62vw !important; /* ED was 50 */
  height: 33px !important;
  padding-top: 1px !important;
  /*padding-left: 70px !important;*/
  font-size: 10px !important;
}

:root[sizemode="fullscreen"] #nav-bar {
  padding-left: 0px !important;
  padding-top: 0px !important;
}

:root[sizemode="fullscreen"] #TabsToolbar {
  padding-top: 0px !important;
}

:root[uidensity="compact"] #urlbar, :root[uidensity="compact"] #searchbar {
  min-height: 20px !important;
  padding-top: 2px !important;
}

#TabsToolbar {
  margin-left: 38vw !important; /* ED was 50 */
  height: 33px !important;
  padding-top: 1px !important;
}

#tabbrowser-tabs {
  height: 33px !important;
}

.tabbrowser-tab::before, .tabbrowser-tab::after {
  display: none !important;
}

.tabbrowser-tab[fadein]:not([pinned]):not([style*="max-width"]) {
  max-width: 225px !important;

.tab-line {
  display: none !important;
}

.tab-throbber, .tab-icon-pending, .tab-icon-image,
.tab-sharing-icon-overlay, .tab-icon-sound, .tab-close-button {
  margin-top: 0px !important;
}

.tab-background {
  margin: 4px 2px 4px 2px !important;
  border-radius: var(--toolbarbutton-border-radius) !important;
  background-image: none !important;
  background-color: rgba(249, 249, 250, 0.05) !important;
}

#tabbrowser-tabs:not([movingtab]) > .tabbrowser-arrowscrollbox >
.tabbrowser-tab > .tab-stack >
.tab-background[multiselected="true"]:-moz-lwtheme,
#tabbrowser-tabs:not([movingtab]) > .tabbrowser-arrowscrollbox >
.tabbrowser-tab > .tab-stack >
.tab-background[selected="true"]:-moz-lwtheme,
.tabbrowser-tab:hover > .tab-stack >
.tab-background:not([selected="true"]):not([multiselected]) {
  background-color: rgba(249, 249, 250, 0.15) !important;
}

.titlebar-buttonbox-container {
  display: block !important;
  position: fixed !important;
  left: 0px !important;
  margin-top: -3px !important;
}

.titlebar-spacer[type="pre-tabs"], .titlebar-spacer[type="post-tabs"] {
  display: none !important;
}

.titlebar-placeholder {
  border: none !important;
}

:root {
  --tabs-border: transparent !important;
  --chrome-content-separator-color: none !important;
  --toolbarbutton-border-radius: 4px !important;
  --lwt-toolbar-field-border-color: rgba(249, 249, 250, 0.2) !important;
  --urlbar-separator-color: var(--lwt-toolbar-field-border-color) !important;
  --toolbar-field-focus-border-color: none !important;
}

#urlbar {
  background-color: rgba(249, 249, 250, 0.15) !important;
  border: none !important;
}

#TabsToolbar, #nav-bar, #PersonalToolbar {
  -moz-appearance: -moz-mac-vibrancy-dark !important;
}


/* Icons */
	#PanelUI-menu-button {
		list-style-image: url(image/Fx-Browser-icon-oneColor-white.png) !important;}
	#PanelUI-button {
			margin-inline-start: 0 !important;
			padding-inline-start: 0 !important;
			border: none !important;
			border-inline-start: none !important;
	}
	#PanelUI-button #PanelUI-menu-button .toolbarbutton-icon {
		opacity: 0.7 !important;
	}
	#home-button {
		list-style-image: url(image/fire-2-32.ico) !important;
	}
	#home-button .toolbarbutton-icon {
		opacity: 0.7 !important;
	}
	#PlacesToolbarItems .bookmark-item[container] {
		list-style-image: url(image/folder.svg) !important;
	}
	#forward-button {
		list-style-image: url(image/right-arrow.svg) !important;
	}
	#back-button {
		list-style-image: url(image/left-arrow.svg) !important;
	}
